@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color-scheme: light; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn {
    @apply py-1 px-2 rounded cursor-pointer focus:outline-none focus:ring disabled:cursor-not-allowed disabled:opacity-75;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .dotted-stroke {
    stroke-dasharray: 3;
    stroke-dashoffset: 2;
  }

  .break-anywhere {
    overflow-wrap: anywhere;
    word-break: break-all;
  }
}
