.map {
  :global(.leaflet-bottom) {
    z-index: 600;
  }
}

.temp-marker {
  animation: feeders-flip-x 1.2s ease-in-out infinite, feeders-fall-in 400ms cubic-bezier(0.57, 0.4, 0.55, 1.17) 1;
}

.div-marker-svg-icon {
  img {
    width: 36px;
    height: 36px;
  }
}

@keyframes feeders-flip-x {
  0% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes feeders-fall-in {
  0% {
    transform: translateY(-90vh);
  }
  100% {
    transform: translateY(0);
  }
}

.cluster-marker {
  color: white;

  &:global(.marker-cluster-small) {
    background-color: rgba(0,0,0, .6);

    > div {
      background-color: rgba(100,100,100, .6);
    }
  }

  &:global(.marker-cluster-medium) {
    color: black;
    background-color: rgba(255,255,97, .7);

    > div {
      background-color: rgba(240,194,12, .6);
    }
  }

  &:global(.marker-cluster-large) {
    color: black;
    background-color: rgba(190,0,0, .6);

    > div {
      background-color: rgba(241,128,23, .7);
    }
  }
}

.popup {
  :global(.leaflet-popup-content) {
    font-size: 1rem;
    margin: 6px 10px 9px 10px;
    min-width: clamp(10vw, 22rem, 40vw);
    max-height: 85vh;
    overflow-y: auto;
  }
}

.reset-view-ctrl {
  svg {
    fill: slategray;
  }

  :global(.leaflet-right .leaflet-control) {
    margin-right: 8px;
  }
  :global(.leaflet-bottom .leaflet-control) {
    margin-bottom: 8px;
  }
}

.help {
  p {
    padding: 0.25rem 0;

    &:first-child {
      padding-bottom: 0.55rem;
    }
  }

  h3 {
    font-weight: bold;
    margin-block: 1rem;
  }

  ul {
    list-style: outside;
    margin-left: 1.25em;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  img[src$='svg'] {
    display: inline;
    width: 1.5rem;
    aspect-ratio: 1;
    vertical-align: bottom;
    margin-inline: -5px;
  }
}
