.container {
  container-type: inline-size;
  container-name: sitemap-menu;

  --bg-color: #fff7ed;

  width: 100%;
}

.map {
  background-color: var(--bg-color);
  width: 100%;
  margin: auto;

  animation: feeders-nav-shadow-pulse 13s ease-in-out infinite;

  @container sitemap-menu (min-width: 240px) {
    padding: 5cqi 0;
  }

  @container sitemap-menu (min-width: 460px) {
    width: 440px;
    padding: 3em 2em;
  }
}

@keyframes feeders-nav-shadow-pulse {
  0%, 60%, 100% {
    box-shadow:   0   10px 15px -3px rgb(0 0 0 / 0.1),   0    4px 6px -4px rgb(0 0 0 / 0.1);
  }
  20% {
    box-shadow:  10px 12px 18px  3px rgb(0 0 0 / 0.2),  -2px  5px 5px -1px rgb(0 0 0 / 0.2)
  }
  75% {
    box-shadow:  -6px 10px 24px  4px rgb(0 0 0 / 0.2),  -1px -2px 1px -4px rgb(0 0 0 / 0.2)
  }
}

.body {
  aspect-ratio: 5/4;

  font-size: 1.125rem;
  line-height: 1.75rem;

  width: 100%;
  margin: auto;
  padding: 1em 0;
  position: relative;

  @container sitemap-menu (min-width: 240px) {
    width: 240px;
    padding: 1em;
  }

  > div {
    display: flex;
    align-items: center;
    padding-left: 1em;

    @container sitemap-menu (min-width: 240px) {
      padding-left: 0;
    }

    a {
      display: flex;
      align-items: center;

      @container sitemap-menu (min-width: 240px) {
        position: absolute;

        &:hover {
          filter: drop-shadow(rgba(0,0,50,0.3) 0 40px 3px);
        }
      }

      &:hover {
        transform: scale(1.1);
        transition: transform 90ms ease-in;
      }
    }
  }
}

.unreleased {
  pointer-events: none;
}

.facts {
  a {
    top: 2%;
    left: 4%;
  }
}

.insights {
  a {
    top: 8%;
    right: 4%;
  }
}

.user {
  a {
    top: 30%;
    left: 20%;
  }
}

.charts {
  a {
    bottom: 36%;
    right: 16%;
  }
}

.world {
  a {
    bottom: 8%;
    right: 0;
  }
}

.laws {
  a {
    bottom: 12%;
    left: 7%;
  }
}
