.pick-list {
  li {
    &:last-child [role='separator'] {
      display: none;
    }
  }

  &[data-display-mode="header"] {

    > li {
      &:not(:last-child) {
        header {
          border-bottom: 1px dashed #666;
        }
      }

      header {
        > div:nth-of-type(2) {
          justify-content: end;
        }
      }

      @media screen and (min-width: 768px) {
        header {
          > div:first-child {
            position: relative;
          }
        }
      }
    }

    .desc,
    [role='separator'] {
      display: none;
    }
  }
}

.desc {
  a[href] {
    display: inline-block;
    transform: translateY(-1px);
  }
}

.animate-flash {
  animation: feeders-picks-flash 1.4s ease-in-out 1;
}

@keyframes feeders-picks-flash {
  0% {
    background-color: white;
  }
  10% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}
