.pick-list {
  li {
    &:not(:first-child):before {
      content: '';
      display: block;
      width: 98%;
      height: 1px;
      margin: 5px auto 20px;
      border-top: 1px dotted rgb(59 130 246 / 0.5);
    }
  }
}

.animate-flash {
  animation: feeders-picks-flash 1.4s ease-in-out 1;
}

@keyframes feeders-picks-flash {
  0% {
    background-color: white;
  }
  10% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}
