.help {
  p {
    padding: 0.25rem 0;

    &:first-child {
      padding-bottom: 0.55rem;
    }
  }

  h3 {
    font-weight: bold;
    margin-block: 1rem;
  }

  ul {
    list-style: outside;
    margin-left: 1.25em;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  img[src$='svg'] {
    display: inline;
    width: 1.5rem;
    aspect-ratio: 1;
    vertical-align: bottom;
    margin-inline: -5px;
  }
}
