.map {
  :global(.leaflet-bottom) {
    z-index: 600;
  }
}

.reset-view-ctrl {
  svg {
    fill: slategray;
  }

  :global(.leaflet-right .leaflet-control) {
    margin-right: 8px;
  }
  :global(.leaflet-bottom .leaflet-control) {
    margin-bottom: 8px;
  }
}
